.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__list li:first-child {
  padding-top: 26px;
  padding-left: 21px;
}

.advantages__list li:nth-child(2) {
  padding-left: 26px;
  padding-top: 18px;
  padding-bottom: 21px;
}

.advantages__list li:last-child {
  padding-left: 18px;
  padding-bottom: 33px;
}

.advantages__title {
  margin: 0;
  padding-top: 9px;
  padding-left: -5px;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.advantages__description {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: @black;
  padding-right: 19px;
  padding-top: 15px;
}

.advantages__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 12px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .advantages__title {
    font-size: 21px;
    text-align: center;
  }

  .advantages__description {
    text-align: center;
  }

  .advantages__item--center {
    order: -1;
  }

  .advantages__item--left {
    order: -2;
  }
}
