.advantages__list {
  list-style: none;
}

.advantages__title {
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 15px;
  text-transform: uppercase;
  color: @black;
}

.advantages__description {
  font-family: "PT sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}
