.button {
  transform: translate(20px);
  width: 280px;
  height: 58px;
  background-color: @lightblue;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @blue;
    outline-color: @blue;
  }

  &:active {
    background-color: @darkblue;
    outline-color: @darkblue;
    color: @opacitywhite;
  }

  &:disabled {
    background-color: @ultralightbeige;
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 458px;
    transform: translate(155px);
  }
}

@media (min-width: @desktop-width) {
  .button {
    width: 458px;
    transform: translate(81%);
  }
}
