.features__wrapper--reverse {
  display: flex;
  flex-direction: column-reverse;
}

.features__wrapper--reverse .features__content {
  padding-top: 24px;
  padding-bottom: 18px;
}

.features__wrapper--reverse .features__count {
  padding-top: 2px;
}

.features__content {
  text-align: center;
  padding: 52px 15px 24px 14px;
  background-color: @blue;
}

.features__wrapper .features__content:first-child {
  max-width: 100%;
  height: auto;
  background: url("../img/features-triangle.svg") 100% -4px no-repeat @blue;
}


.features__title {
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @white;
  padding-bottom: 9px;
  margin-bottom: 0;
}

.features__description {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @white;
  margin: 0;
  padding: 17px 0;
}

.features__count {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @white;
  margin: 0;
}

.features__img {
  display: flex;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .features__wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-top: 30px;
  }

  .features__wrapper .features__content:first-child {
    background-image: none;
  }


  .features__content {
    padding: 0;
  }

  .features__title {
    font-size: 21px;
  }

  .features__wrapper--reverse {
    grid-template-columns: max-content 1fr;
  }
}
