.search__content {
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}


.search__title {
  padding-top: 12px;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.search__description {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 14px;
}

.search iframe {
  height: 350px;
  width: 100%;
}

.search .map {
  padding-top: 49px;
}

@media (min-width: @tablet-width) {
  .search-wrapper {
    display: flex;
    flex-direction: row;
  }

  .search__title {
    font-size: 30px;
  }

  .search iframe {
    height: 350px;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .search-wrapper {
    display: flex;
    flex-direction: column;
  }

  .search iframe {
    height: 350px;
    width: 100%;
  }
}
