.search__content {
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}

.search__content br {
  display: none;
}

.search__title {
  padding-top: 12px;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
}

.search__description {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;
  padding-bottom: 14px;
}

.search iframe {
  height: 350px;
  width: 100%;
}

.search .search__map {
  padding-top: 49px;
}

@media (min-width: @tablet-width) {
  .search-wrapper {
    display: flex;
    flex-direction: row;
  }

  .search__content br {
    display: inline;
  }

  .search__title {
    padding-top: 25px;
    font-size: 30px;
    line-height: 26px;
  }

  .search iframe {
    height: 350px;
    width: 100%;
  }

  .search__description {
    padding: 4px 70px;
    padding-bottom: 25px;
  }

  .search .search__map {
    padding-top: 78px;
    margin-bottom: -43px;
  }
}

@media (min-width: @desktop-width) {
  .search-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin: 0 auto;
  }

  .search__description {
    padding-bottom: 9px;
  }

  .search iframe {
    height: 350px;
    width: 100%;
  }

  .search .search__map {
    padding-top: 65px;
    margin-bottom: -43px;
  }
}
