.catalog__description {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.catalog__author {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

.catalog__count {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.catalog__slogan {
  font-weight: 700;
  padding-left: 60px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.catalog__intro {
  text-align: center;
  padding: 15px 35px 5px 35px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.catalog__video-block {
  margin-top: 32px;
  margin-left: 28px;
  margin-right: 26px;
  text-align: center;
}

.catalog__main-content {
  margin: 0 20px;
}

.catalog__video .catalog__control {
  position: relative;
  bottom: 95px;
  height: 93px;
  background:
    url("../img/control-svg/volume-slider.svg") 25% 80% no-repeat,
    url("../img/control-svg/volume-scale.svg") 50% 78% no-repeat,
    url("../img/control-svg/bg-control-small.svg") 50% 99% no-repeat;
}

.catalog__control--small {
  position: relative;
  bottom: 115px;
  right: 20px;
  height: 86px;
  background:
    url("../img/control-svg/replay.svg") 23% 66% no-repeat,
    url("../img/control-svg/subtitles.svg") 75% 66% no-repeat,
    url("../img/control-svg/fullscreen.svg") 93% 66% no-repeat,
    url("../img/control-svg/bglg-control-small.svg") 100% 100% no-repeat;
}

@media (min-width: @tablet-width) {
  .catalog__main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
  }

  .catalog__img {
    width: 100%;
    height: auto;
  }

  .catalog__content {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 70px;
    align-items: center;
    background-color: @darkwhite;
  }

  .catalog__description {
    margin-bottom: -10px;
  }

  .catalog__author-block {
    margin-left: 20px;
  }

  .promo__slogan {
    font-size: 30px;
  }

  .catalog__slogan {
    font-size: 30px;
    padding-top: 30px;
    margin-left: 175px;
  }

  .catalog__intro {
    text-align: center;
    transform: translate(23%);
    width: 460px;
  }

  .catalog__video {
    background-size: cover;
    margin: 0 60px;
  }

  .catalog__video .catalog__control {
    position: relative;
    bottom: 95px;
    height: 93px;
    background:
      url("../img/control-svg/fullscreen-large.svg") 94% 50% no-repeat,
      url("../img/control-svg/volume-slider.svg") 32% 50% no-repeat,
      url("../img/control-svg/volume-scale-medium.svg") 36% 50% no-repeat,
      url("../img/control-svg/replay-large.svg") 6% 50% no-repeat,
      url("../img/control-svg/subtitles-large.svg") 85% 50% no-repeat,
      url("../img/control-svg/bg-contol-large.svg") 100% 100% no-repeat;
  }

  .catalog__control--small {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog__main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .catalog__video {
    margin: 0 200px;
  }

  .promo__intro {
    transform: translate(77%);
    width: 440px;
    padding-bottom: 70px;
  }

  .catalog__slogan {
    transform: translate(20%);
  }

  .catalog__intro {
    transform: translate(64%);
    padding-bottom: 66px;
  }

  .catalog__block {
    position: relative;
  }

  .catalog__content {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    background-color: rgba(000, 000, 000, 0.3);
    color: @white;
  }

  .catalog__video .catalog__control {
    position: relative;
    bottom: 95px;
    height: 93px;
    background:
      url("../img/control-svg/fullscreen-large.svg") 95% 50% no-repeat,
      url("../img/control-svg/volume-slider.svg") 25% 50% no-repeat,
      url("../img/control-svg/volume-scale-large.svg") 36% 50% no-repeat,
      url("../img/control-svg/replay-large.svg") 5% 50% no-repeat,
      url("../img/control-svg/subtitles-large.svg") 88% 50% no-repeat,
      url("../img/control-svg/bg-contol-large.svg") 100% 100% no-repeat;
  }
}
