.catalog__description {
  margin: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.catalog__author {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

.catalog__count {
  padding-left: 15px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.catalog__count-block {
  margin: 0;
  padding-top: 10px;
}

.catalog__slogan {
  padding-top: 33px;
  font-weight: 700;
  padding-left: 57px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.catalog__intro {
  text-align: center;
  padding: 9px 35px 0 35px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.catalog__video-block {
  margin-top: 32px;
  margin-left: 28px;
  margin-right: 26px;
  text-align: center;
}

.catalog__block:nth-child(2) .catalog__img {
  padding-top: 40px;
}

.catalog__block:nth-child(3) .catalog__img {
  padding-top: 41px;
}

.catalog__block:nth-child(4) .catalog__img {
  padding-top: 40px;
}

.catalog__block {
  margin: 0 20px;
}

.catalog__img {
  padding-top: 22px;
  padding-bottom: 15px;
}


.catalog__video .catalog__control {
  position: relative;
  margin: 0 20px;
  bottom: 65px;
  height: 45px;
  background:
    url("../img/volume-slider.svg") 21% 54% no-repeat,
    url("../img/volume-scale.svg") 50% 54% no-repeat,
    rgba(0, 0, 0, 0.6);
}

.catalog__control .catalog__control--small {
  position: relative;
  top: 46px;
  right: 20px;
  width: 100%;
  height: 65px;
  background:
    url("../img/replay.svg") 10% 50% no-repeat,
    url("../img/subtitles.svg") 70% 50% no-repeat,
    url("../img/fullscreen.svg") 91% 50% no-repeat,
    @darkwhite;
}


@media (min-width: @tablet-width) {
  .catalog__block {
    margin: 0;
  }

  .catalog__main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 60px;
  }

  .catalog__img {
    padding: 0;
    display: block;
    width: 100%;
    height: auto;
  }

  .catalog__block:nth-child(2) .catalog__img {
    padding-top: 0;
  }

  .catalog__block:nth-child(3) .catalog__img {
    padding-top: 0;
  }

  .catalog__block:nth-child(4) .catalog__img {
    padding-top: 0;
  }

  .catalog__content {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 87px;
    align-items: center;
    background-color: @darkwhite;
  }

  .catalog__author-block {
    margin-left: 20px;
  }

  .catalog__author {
    padding-top: 4px;
  }

  .catalog__count-block {
    padding-bottom: 11px;
    padding-right: 16px;
  }

  .catalog__count {
    padding-left: 14px;
  }

  .catalog__slogan {
    font-size: 30px;
    padding-top: 29px;
    padding-left: 0;
    text-align: center;
  }

  .catalog__intro {
    padding-top: 4px;
    text-align: center;
    width: 445px;
    margin: 0 auto;
    padding-bottom: 79px;
  }

  .catalog__video {
    height: 500px;
    background-size: cover;
    margin: 0 60px;
  }

  .catalog__video .catalog__img {
    height: 500px;
    padding-bottom: 0;
  }

  .catalog__video .catalog__control {
    position: relative;
    bottom: 95px;
    margin: 0;
    height: 93px;
    background:
      url("../img/fullscreen-large.svg") 94% 50% no-repeat,
      url("../img/volume-slider.svg") 32% 50% no-repeat,
      url("../img/volume-scale-medium.svg") 36% 50% no-repeat,
      url("../img/replay-large.svg") 6% 50% no-repeat,
      url("../img/subtitles-large.svg") 85% 50% no-repeat,
      rgba(0, 0, 0, 0.6);
  }

  .catalog__control--small {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog__main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .catalog__video {
    padding: 0 141px;
    height: 500px;
  }

  .catalog__slogan {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    padding-top: 32px;
  }

  .catalog__intro {
    text-align: center;
    padding-bottom: 78px;
  }

  .catalog__block {
    position: relative;
  }

  .catalog__content {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
    background-color: rgba(000, 000, 000, 0.3);
    color: @white;
  }

  .catalog__video .catalog__control {
    background:
      url("../img/fullscreen-large.svg") 738px 51% no-repeat,
      url("../img/volume-slider.svg") 26% 50% no-repeat,
      url("../img/volume-scale-large.svg") 36% 50% no-repeat,
      url("../img/replay-large.svg") 34px 50% no-repeat,
      url("../img/subtitles-large.svg") 674px 52% no-repeat,
      url("../img/bg-contol-large.svg") 100% 100% no-repeat;
  }
}
